.navigation {
  display: flex;
  flex-flow: row;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px 0px 16px;
  position: relative;
}

.logo {
  height: 2em;
  order: 0;
}

.menu {
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  list-style: none;
}

.item {
  position: relative;
  margin: 0 auto;
}

.submenu {
 display: block;
}

.item a {
  padding: 10px 15px;
}