.button {
  margin: 0.1rem;
  flex-basis: 15%;
  padding: .5rem;
  text-align: center;
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: auto;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}